body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Gumela;
  src: url("../src/assets/font/Gumela\ Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gumela";
  scroll-behavior: smooth;
}
